<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event Manager</title>
    <% include ../partials/header.ejs %>
</head>
<body class="page-home">
    <% include ../partials/navbar.ejs %>
    <div class="content">
        <div class="container">
            <h2>Upcoming Events</h2>
            <div>
                <a href="/events/new" class="btn btn-default" role="button">New Event</a>
            </div>
            <div class="event-list">
                <% events.forEach(function(event){ %> 
                    <div class="event-list-item">
                        <div>
                            <a href="/events/<%= event.id %>"><%= event.name %></a>
                        </div>
                        <div>
                            <%= event.startDateFormatted %> 
                            <%= event.startTimeFormatted %>
                        </div>
                    </div>
                <%}) %>
            </div>
        </div>
    </div>
</body>
</html>