<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event Manager</title>
    <% include ../../partials/header.ejs %>
</head>
<body class="page-home">
    <div class="content">
        <div class="container">
            <h2>Welcome!</h2>
            <div style="margin-bottom: 1em">
                Event Manager will allow you to create events or RSVP to events created by your friends! If you have an
                invite code, please enter it below to get started. Event Manager is only available to those with an invite
                code which are not available to the public at this time. 
            </div>
            <% if (typeof errors != 'undefined') { %>
                <div class="alert alert-danger">
                    <% errors.forEach(function(error) { %>
                        <div><%= error %></div>
                    <% }) %>
                </div>
            <% } %>
            <form action="/invitation/welcome" method="POST">
                <div class="form-group">
                    <div><label for="code">Invite Code</label></div>
                    <div><input id="code" name="code" type="text" value="" class="form-control" /></div>
                </div>
                <div class="form-group">
                    <div>
                        <input id="submit" type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>