
.navbar-dark {
    background-color: #3D3D3D;
    background-image: none;
    color: white;
    border: 0px;
    border-radius: 0px;

    & .navbar-brand {
        color: white;

        &:hover {
            color: darken(rgb(255, 255, 255), 30%);
        }
    }
}


.page-home {
    .event-list {
        .event-list-item {
            border-bottom: 1px solid #CCC;

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}