<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event Manager</title>
    <% include ../../../partials/header.ejs %>
</head>
<body>
    <% include ../../../partials/navbar.ejs %>
    <ol class="container breadcrumb-main breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/setup">Setup</a></li>
        <li class="active">Invitations</li>
    </ol>
    <div class="container">
        <h2>Invitation Created</h2>
        <p>The following invitation was created. Feel free to give this code out to a friend.</p>
        <table class="table">
            <tr>
                <td>Code</td>
                <td><%= invite.code %></td>
            </tr>
        </table>
    </div>
</body>
</html>