
<div class="navbar navbar-default navbar-dark" role="navigation">
    <div class="container">
        <a href="/home" class="navbar-brand ">
            <span class="glyphicon glyphicon-home hidden-md hidden-lg" aria-hidden="true"></span><span class="hidden-xs hidden-sm"> Event Manager</span>
        </a>
        <ul class="nav navbar-nav"></ul>
    </div>
</div>
