<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event Manager</title>
    <% include ../../../partials/header.ejs %>
</head>
<body>
    <% include ../../../partials/navbar.ejs %>
    <ol class="container breadcrumb-main breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/setup">Setup</a></li>
        <li class="active">Users</li>
    </ol>
    <div class="container">
        <h2>Users</h2>
        <table class="table">
            <% users.forEach(function(user) { %>
            <tr>
                <td><a href="/setup/users/<%= user.id %>"><%= user.name %></a></td>
            </tr>
            <% }); %>
        </table>
    </div>
</body>
</html>