<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event Manager</title>
    <% include ../../partials/header.ejs %>
</head>
<body>
    <% include ../../partials/navbar.ejs %>
    <div class="container">
        <h2>Setup</h2>
        <div class="list-group" style="width: 50%">
            <% links.forEach(function(link) { %>
            <a href="<%= link.url %>" class="list-group-item"><%= link.title %></a>
            <% }); %>
        </div>
    </div>
</body>
</html>